:root	{
   --D0:  hsl(  0, 100%, 45%);
   --D1:  hsl( 30, 100%, 45%);
   --D2:  hsl( 50, 100%, 45%);
   --D3:  hsl(100, 100%, 45%);
   --D4:  hsl(160, 100%, 45%);
   --D5:  hsl(210, 100%, 45%);
   --D6:  hsl(240, 100%, 45%);
   --D7:  hsl(270, 100%, 45%);
   --D8:  hsl(300, 100%, 45%);
   --D9:  hsl(  0, 100%, 0%);

   --L0:  hsl(  0, 100%, 75%);
   --L1:  hsl( 30, 100%, 75%);
   --L2:  hsl( 50, 100%, 75%);
   --L3:  hsl(100, 100%, 75%);
   --L4:  hsl(160, 100%, 75%);
   --L5:  hsl(210, 100%, 75%);
   --L6:  hsl(240, 100%, 75%);
   --L7:  hsl(270, 100%, 75%);
   --L8:  hsl(300, 100%, 75%);
   --L9:  hsl(  0, 100%, 100%);
   
   --G0:  hsl(  0, 0%,  80%);
   --G1:  hsl(  0, 0%,  60%);
   --G2:  hsl(  0, 0%,  40%);
   --G3:  hsl(  0, 0%,  20%);
   --G4:  hsl(  0, 0%,  0%);
   
   --S00:  #ffffcc;   /* red scale */
   --S01:  #ffeda0;
   --S02:  #fed976;
   --S03:  #feb24c;
   --S04:  #fd8d3c;
   --S05:  #fc4e2a;
   --S06:  #e31a1c;
   --S07:  #bd0026;
   --S08:  #800026;
   
   --S10:  #ffffe5;   /* green scale */
   --S11:  #f7fcb9;
   --S12:  #d9f0a3;
   --S13:  #addd8e;
   --S14:  #78c679;
   --S15:  #41ab5d;
   --S16:  #238443;
   --S17:  #006837;
   --S18:  #004529;

   --S20:  #fff7fb;   /* blue scale */
   --S21:  #ece7f2;
   --S22:  #d0d1e6;
   --S23:  #a6bddb;
   --S24:  #74a9cf;
   --S25:  #3690c0;
   --S26:  #0570b0;
   --S27:  #045a8d;
   --S28:  #023858;
   
   --S30:  #ffffff;   /* gray scale */
   --S31:  #dddddd;
   --S32:  #bbbbbb;
   --S33:  #999999;
   --S34:  #777777;
   --S35:  #555555;
   --S36:  #333333;
   --S37:  #111111;
   --S38:  #000000;
}

/*  field highlighting--  border-color,text-color,background-color */
.e00		{ border: 1px solid var(--D0); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e01		{ border: 1px solid var(--D1); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e02		{ border: 1px solid var(--D2); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e03		{ border: 1px solid var(--D3); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e04		{ border: 1px solid var(--D4); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e05		{ border: 1px solid var(--D5); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e06		{ border: 1px solid var(--D6); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e07		{ border: 1px solid var(--D7); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e08		{ border: 1px solid var(--D8); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e09		{ border: 1px solid var(--D9); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e10		{ border: 1px solid var(--L0); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e11		{ border: 1px solid var(--L1); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e12		{ border: 1px solid var(--L2); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e13		{ border: 1px solid var(--L3); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e14		{ border: 1px solid var(--L4); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e15		{ border: 1px solid var(--L5); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e16		{ border: 1px solid var(--L6); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e17		{ border: 1px solid var(--L7); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e18		{ border: 1px solid var(--L8); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }
.e19		{ border: 1px solid var(--L9); margin: 1px 2px 1px 2px; padding: 1px 2px 1px 2px; }

.t00		{ color: var(--D0); }
.t01		{ color: var(--D1); }
.t02		{ color: var(--D2); }
.t03		{ color: var(--D3); }
.t04		{ color: var(--D4); }
.t05		{ color: var(--D5); }
.t06		{ color: var(--D6); }
.t07		{ color: var(--D7); }
.t08		{ color: var(--D8); }
.t09		{ color: var(--D9); }
.t10		{ color: var(--L0); }
.t11		{ color: var(--L1); }
.t12		{ color: var(--L2); }
.t13		{ color: var(--L3); }
.t14		{ color: var(--L4); }
.t15		{ color: var(--L5); }
.t16		{ color: var(--L6); }
.t17		{ color: var(--L7); }
.t18		{ color: var(--L8); }
.t19		{ color: var(--L9); }

.b00		{ background-color: var(--D0); }
.b01		{ background-color: var(--D1); }
.b02		{ background-color: var(--D2); }
.b03		{ background-color: var(--D3); }
.b04		{ background-color: var(--D4); }
.b05		{ background-color: var(--D5); }
.b06		{ background-color: var(--D6); }
.b07		{ background-color: var(--D7); }
.b08		{ background-color: var(--D8); }
.b09		{ background-color: var(--D9); }
.b10		{ background-color: var(--L0); }
.b11		{ background-color: var(--L1); }
.b12		{ background-color: var(--L2); }
.b13		{ background-color: var(--L3); }
.b14		{ background-color: var(--L4); }
.b15		{ background-color: var(--L5); }
.b16		{ background-color: var(--L6); }
.b17		{ background-color: var(--L7); }
.b18		{ background-color: var(--L8); }
.b19		{ background-color: var(--L9); }

.s00		{ background-color: var(--S00);	color: black; }
.s01		{ background-color: var(--S01);	color: black; }
.s02		{ background-color: var(--S02);	color: black; }
.s03		{ background-color: var(--S03);	color: black; }
.s04		{ background-color: var(--S04);	color: black; }
.s05		{ background-color: var(--S05);	color: white; }
.s06		{ background-color: var(--S06);	color: white; }
.s07		{ background-color: var(--S07);	color: white; }
.s08		{ background-color: var(--S08);	color: white; }
.s10		{ background-color: var(--S10);	color: black; }
.s11		{ background-color: var(--S11);	color: black; }
.s12		{ background-color: var(--S12);	color: black; }
.s13		{ background-color: var(--S13);	color: black; }
.s14		{ background-color: var(--S14);	color: black; }
.s15		{ background-color: var(--S15);	color: white; }
.s16		{ background-color: var(--S16);	color: white; }
.s17		{ background-color: var(--S17);	color: white; }
.s18		{ background-color: var(--S18);	color: white; }
.s20		{ background-color: var(--S20);	color: black; }
.s21		{ background-color: var(--S21);	color: black; }
.s22		{ background-color: var(--S22);	color: black; }
.s23		{ background-color: var(--S23);	color: black; }
.s24		{ background-color: var(--S24);	color: black; }
.s25		{ background-color: var(--S25);	color: white; }
.s26		{ background-color: var(--S26);	color: white; }
.s27		{ background-color: var(--S27);	color: white; }
.s28		{ background-color: var(--S28);	color: white; }
.s30		{ background-color: var(--S30);	color: black; }
.s31		{ background-color: var(--S31);	color: black; }
.s32		{ background-color: var(--S32);	color: black; }
.s33		{ background-color: var(--S33);	color: black; }
.s34		{ background-color: var(--S34);	color: black; }
.s35		{ background-color: var(--S35);	color: white; }
.s36		{ background-color: var(--S36);	color: white; }
.s37		{ background-color: var(--S37);	color: white; }
.s38		{ background-color: var(--S38);	color: white; }


#colorSel	{  }
.modal		{ position: absolute; background-color: white; 
				left: 100px; top: 100px; height: 460px; width: auto;
				padding: 5px; border: 2px solid black;
			}
.cp 		{ display: inline-block; border: 1px solid black; padding: 3px; margin: 2px; font-size: 12px; }
.ex			{ font-family: courier; font-size: 12px; }
.box 		{ border: 1px solid black; margin-bottom: 5px; margin-left: 5px; }
.off 		{ display: none; }


.grd		{ display: inline-block; border: 1px solid gray; box-shadow: 1px 1px 1px 1px #7F797C; width: 20px; height: 20px;
			  text-align: center; vertical-align: middle; font-size: 15px; font-weight: bold;
			  background-color: white; -webkit-user-select: none; }
.sel		{ border: 2px solid red; }
.secret		{ color: var(--S33); background-color: var(--S33); }
.marked		{ color: var(--S14); background-color: var(--S14); }
.wrong		{ color: white; background-color: red; }
.right		{ color: white; background-color: var(--S15); }
.bombed		{ background-color: var(--S03); color: var(--S05);  }
.freed		{ background-color: var(--S23); color: var(--S27);  }
.processed	{ background-color: var(--S32); color: var(--S27);  }
.procbombed	{ background-color: var(--S32); color: var(--S05);  }
.exploding	{ color: red; }
.exploded	{ background-color: var(--S04); color: var(--S07);  }
.tm			{ font-size: 24px; color: red; }
.t0			{ background-color: var(--S12); color: var(--S38); }
.t1			{ background-color: var(--S12); color: var(--D8); } 
.t2			{ background-color: var(--S12); color: var(--D5); } 
.t3			{ background-color: var(--S12); color: var(--D3); } 
.t4			{ background-color: var(--S12); color: var(--D0); } 
.t5			{ background-color: var(--S12); color: var(--D6); } 
.t6			{ background-color: var(--S12); color: var(--S17); } 
.t7			{ background-color: var(--S12); color: var(--D7); } 
.t8			{ background-color: var(--S12); color: var(--L8); } 
/* graphEd 
.sel 		{ background-color: red; }
.guide		{ color: blue; }
#status 	{ text-align: center; padding-left: 5px; }
#vardlg 	{ border: solid 1px black;}
#varNmBox	{ width: 5em; }
#varStyle	{ width: 5em; }
#varDefBox	{ width: 15em; }
#varVal		{ width: 20em; }
#grpNm		{ width: 5em; }
#varNm		{ font-weight: bold; font-size: large; }
#defType	{ font-weight: bolder; font-size: larger; padding: 2px 4px 2px 4px;}
#varDef		{ font-size: large; }
#varVal		{ font-size: small; }
.val		{ width: 3em; padding: 0px; margin: 1px; }

.LevCk		{ font-size: 16px; margin-left: 2px; }
.LevBx		{ text-align: center; }
.LevBoxes	{ display: flex; }
*/

html 			{  height: 100%; }
body			{  height: 100%;  width: 100%;  margin: 0;	
					font-family: Ubuntu;  background: var(--L5);
					overflow: hidden;   display: grid;  
					grid-template-columns: 100%;
					grid-template-rows: 80px 1400px;
					grid-template-areas: 
						"hdr"
						"data";
				}
pre				{ line-height: 19px; }
#Popup			{ 	position: absolute;  left:10px; top: 80px;
					border: 1px solid black; margin: 10px; padding: 10px;
					background-color: var(--L3); overflow-y: auto; height: 700px;
				}
.hide			{ display: none }
#Test			{ position: absolute;  visibility: hidden;
				  height: auto; width: auto; white-space: nowrap; font-family: courier; 
				}
#header 		{  grid-area: hdr;	background: var(--L5);	border: 1px solid black;  padding: 5px 0 0 0; font-size: 24px; z-index: 5; }
#sideBar 		{  grid-area: sbar;	overflow-y: auto;	overflow-x: hidden;	border: 1px solid black;	background: var(--L1); }
#lower			{  grid-area: data; width: 100%; height: 100%; overflow: none; background: var(--L5);  border: none; }
#data 			{  grid-area: data;	overflow: none;    width: 425px; height: 425px; position: relative;
					min-width: 0; font-family: courier; white-space: nowrap;
				}
#data2			{  grid-area: data2; overflow: auto;   background: white;  border: 1px solid black;	min-width: 0; font-family: courier; }

#headerContent 	{  margin-left: 10px;  font-weight: bold; }
input			{ font-size: 24px; }
input[type=file]	{ visibility: hidden; width: 5em; }
.gui input[type=text]		{ width: 3em; }
.gui input[type=number]		{ width: 3em; }
.gui input[type=button]		{ background-color: var(--L2); }
.gui 			{  margin: 0 0 0 15px; }
.guival 		{  margin: 0 0 0 10px; border: 1px solid gray; padding: 0 2px 0 2px; }
.guibx		 	{  border: 1px solid black; padding: 0 2px 0 2px; }
.glev1			{  margin-left: 10px; }
.glev2			{  margin-left: 20px; }
.glev3			{  margin-left: 30px; }
.br::after		{  white-space: pre; content: '\a';  }

/*  collapsible geometry sidebar */
/* Remove default bullets */
ul {
  list-style-type: none;
  padding-inline-start: 6px;
  width: 400px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

/*# sourceMappingURL=main.css.map*/